imap jj <Esc>
set easymotion
set commentary
set multiple-cursors

let mapleader = " "
map  <Leader>w <Plug>(easymotion-bd-w)

:map <Leader>d <Action>(ToggleLineBreakpoint)

nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)
nmap <S-w> <Action>(CloseEditor)
